* {
    box-sizing: border-box;
}

body {
    background-color:rgb(6, 0, 43);
}

#title {
    text-align: center;
    color: white;
    font-family: 'Montserrat', serif;
}

.main-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
}

.col-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 25rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.row-container {
    width: 100%;
    display: flex;
    height: 25rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -0.65rem;
}


#intro {
    background-color: green;
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: column;
    transition: all 200ms;
}

.row-section {
    width: 100%;
    display: flex;

}

#profile {
    margin-top: 1rem;
    align-items: center;
}

.col-section {
    display: flex;
    flex-direction: column;
}

#name-career {
    margin-left: 1rem;
    padding: 0;
    margin-bottom: 1rem;
}

.section-titles {
    text-align: center;
    margin: -.5rem 0 0 0;
    font-size: 18px;
    font-family: 'Montserrat', serif;
}

#profile-picture {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 50%;
}

#name {
    margin: 1.5rem 0 0 0;
    font-family: 'Raleway', serif;
}

#career {
    font-family: 'Raleway', serif;
    font-style: italic;
}

section {
    border-radius: 20px;
    padding: 1rem;
    margin: .3rem .3rem;
    overflow: hidden;
    transition: all 200ms;
}

p {
    font-family: 'Raleway', serif;
    font-size: 16px;
}

#info {
    background-color: yellow;
    width: 47%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#languages {
    background-color: lightskyblue;
    width: 50%;
    height: 35%;
    display: flex;
    flex-direction: column;
    transition: all 200ms;
}


.p-languages {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .35rem;
}

#lang-images {
    margin-top: .1rem;
}

#lang-p {
    margin-top: 1rem;
}

#proj-p {
    display: block;
}

#projects {
    background-color: orange;
    width: 47%;
    height: 50%;
    display: flex;
    flex-direction: column;
    transition: all 200ms;
}

.proj-images{
    width: auto;
    height: 3rem;
    transition: all 200ms;
}

.proj-a{
    height: 3rem;
    margin: .5rem;
    margin-top: .35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

#twitter {
    background-color: rgb(29, 161, 242);
    width: 15%;
    height: 35%;
    display: flex;
    flex-direction: column;
    transition: all 200ms;
    align-items: center;
}

#twitter-logo {
    width: 7rem;
    height: auto;
}

.proj-images:hover {
    filter: blur(3px);
    transition: all 200ms;
}

#more-info {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    opacity: 0.5;
    width: 1rem;
    height: 1rem;
    font-size: 23px;
    transition: all 200ms;
    cursor: pointer;
}

#more-info:hover {
    opacity: 1;
    transition: all 200ms;
}

#more-p {
    display: none;
    margin-top: 0;
}

.proj-a::before {
    position: absolute;
    z-index: 1;
    display: none;
    font-weight: bold;
    color: black;
    font-size: 12px;
    transition: all 200ms;
    pointer-events: none;
}


.proj-a:hover::before{
    display: flex;
    transition: all 200ms;
}

#proj-a-notes::before {
    content: "Notes";
    font-family: "Raleway", serif;
}

#proj-a-ccv::before {
    content: "CCValidator";
    font-family: "Raleway", serif;
}

#proj-a-hangman::before {
    content: "Hangman";
    font-family: "Raleway", serif;
}

#github {
    background-color: #343a40;
    width: 15%;
    height: 35%;
    display: flex;
    flex-direction: column;
    transition: all 200ms;
    align-items: center;
}

#github-logo {
    width: 6rem;
    height: auto;
}

#github:hover {
    width: 20%;
    height: 40%;
}

#twitter:hover {
    width: 20%;
    height: 40%;
}

.projects-section {
    width: 15%;
    height: 35%;
    display: flex;
    flex-direction: column;
    transition: all 200ms;
    align-items: center;
    cursor: pointer;
}

#notes-app-container {
    background-color: lightgoldenrodyellow;
}

#hangman-app-container {
    background-color: dodgerblue;
}

#notes-app-img  {
    width: 6rem;
    height: 6rem;
}

#hangman-app-img {
    width: 4.5rem;
    height: auto;

}

.projects-section:hover {
    width: 40%;
    height: 40%;
}

#notes-app, #hangman-app {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px goldenrod outset;
    z-index: 2;
    border-radius: 20px;
}

#hangman-app {
    border: 3px dodgerblue outset;
}

#close-button-notes {
    display: none;
    position: fixed;
    right: 10%;
    top: 10%;
    z-index: 2;
    padding: 7px 12px;
    background-color: black;
    opacity: 0.7;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    transition: all 200ms;
    z-index: 3;
}

#close-button-notes:hover {
    background-color: red;
    opacity: 1;
    color: black;
}

#send-email {
    width: 1.5rem;
    height: auto;
    margin-left: 5%;
    margin-top: 1rem;
}

#email-logo {
    width: 1.7rem;
    height: auto;
    opacity: 0.6;
    cursor: pointer;
    transition: all 200ms;
}

#email-logo:hover {
    opacity: 1;
    transition: all 200ms;
}

#notes-section-container {
    justify-content: center;
    align-items: center;
}
#hangman-section-container {
    justify-content: center;
    align-items: center;
}

#notes-p, #Notes, #notes-col-container, #hangman-p, #Hangman, #hangman-col-container  {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-p {
    margin-left: .5rem;
}

#notes-logos-container, #hangman-logos-container {
    justify-content: flex-end;
}

.projects-logos {
    width: 1rem;
    height: auto;
    margin: 0 .25rem;
    filter:grayscale();
}

#location-icon {
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
}

#introduction-p {
    margin-bottom: 0;
    margin-top: .75rem;
}

#location-section {
    display: flex;
    margin-top: .7rem;
    align-items: center;
    margin-left: .5rem;
    width: 6.5rem;
}

#education-section {
    display: flex;
    margin-top: .7rem;
    align-items: center;
    margin-left: .5rem;
    width: 6.5rem;
}

#location-education-container {
    display: flex;
    width: 100%;
    margin-top: 0.1rem;
}

#education-icon {
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
}

#location-span {
    font-size: 14px;
    margin-left: .4rem;
    color: black;
    opacity: 0.5;
    font-family: 'Raleway';
    transition: all 200ms;
    cursor: pointer;
}

#education-span {
    font-size: 14px;
    margin-left: .4rem;
    color: black;
    opacity: 0.5;
    font-family: 'Raleway';
    transition: all 200ms;
    cursor: pointer;
}

#location-section-2 {
    display: none;
    margin-top: .7rem;
    align-items: center;
    margin-left: .5rem;
    width: 6.5rem;
}

#location-icon-2 {
    display: none; 
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
}

#location-span-2 {
    display: none;
    font-size: 14px;
    margin-left: .4rem;
    color: black;
    opacity: 0.5;
    font-family: 'Raleway';
    transition: all 200ms;
    cursor: pointer;
}



@media only screen and (max-width: 720px) {
    .col-container {
        height: 50rem;
        flex-wrap: nowrap;
    }

    #intro, #info, #languages, #projects, #twitter, #github, #notes-app-container, #hangman-app-container {
        width: 100%;
    }

    #second-main-container {
        flex-direction: column;
        align-items: center;
        height: 30rem;
        flex-wrap: nowrap;
        margin-top: .15rem;
    }

    #twitter:hover, #github:hover, #notes-app-container:hover, #hangman-app-container:hover {
        width: 100%;
    }

    #notes-p, #Notes  {
        display: block;
    }
    
    #notes-col-container {
        display: flex;
    }

    #hangman-col-container {
        display: flex;
    }

}


@media only screen and (max-width: 1200px) {
    .col-container {
        height: 50rem;
        flex-wrap: nowrap;
    }

    #intro, #info, #languages, #projects, #twitter, #github, #notes-app-container, #hangman-app-container {
        width: 100%;
    }

    #second-main-container {
        flex-direction: column;
        align-items: center;
        height: 30rem;
        flex-wrap: nowrap;
        margin-top: .15rem;
    }

    #twitter:hover, #github:hover, #notes-app-container:hover {
        width: 100%;
    }

    #notes-p, #Notes, #hangman-p, #Hangman  {
        display: block;
    }
    
    #notes-col-container, #hangman-col-container {
        display: flex;
    }
}

@media only screen and (max-width: 480px) {
    .main-container {
        width: 100%;
    }

    #intro {
        height: 55%;
    }

    #location-icon, #location-section, #location-span, #education-section, #education-icon, #education-span {
        display: none;
    }

    #location-icon-2, #education-icon-2 {
        display: block;
        width: .85rem;
        height: .85rem;
        opacity: 0.5;
    }
    
    #location-span-2, #education-span-2 {
        display: block;
        font-size: 14px;
        margin-left: .4rem;
        color: black;
        opacity: 0.5;
        font-family: 'Raleway';
        transition: all 200ms;
        cursor: pointer;
    }

    #education-icon-2 {
        margin-left: 1rem;
    }

    #location-section-2 {
        display: flex;
        margin-top: 0rem;
        align-items: center;
        margin-left: 0rem;
        width: 12rem;
        flex-wrap: nowrap;
    }
    
    p, #location-span, #education-span {
        font-size: 10px;
    }

    p {
        font-size: 10px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    #proj-p {
        display: block;
    }

    #profile-picture {
        width: 5rem;
        height: 5rem;
    }

    #name {
        font-size: 16px;
    }

    #career {
        font-size: 14px;
    }

    .proj-images{
        width: auto;
        height: 3rem;
        margin-top: 0;
    }
    
    #intro {
        height: 45%;
    }

    #languages {
        height: 35%;
    }

    #info {
        height: 30%;
    }

    .col-container {
        height: 40rem;
    }

    p {
        margin-top: .5rem;

    }

    #introduction-p {
        margin-top: .25rem;
    }

    #send-email {
        width: 1.5rem;
        height: auto;
        margin-left: 11%;
        margin-top: 1rem;
    }

    #profile {
        margin-top: 0rem;
        align-items: center;
    }


}